.DS_Store
Gitti.xcodeproj/project.xcworkspace/xcuserdata/kb.xcuserdatad/UserInterfaceState.xcuserstate
Gitti.xcodeproj/project.xcworkspace/xcuserdata/kri.xcuserdatad/UserInterfaceState.xcuserstate
Gitti.xcodeproj/xcuserdata/kri.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Git Status Monitor.xcodeproj/project.xcworkspace/xcuserdata/kri.xcuserdatad/UserInterfaceState.xcuserstate
Git Status Monitor.xcodeproj/project.xcworkspace/xcuserdata/kb.xcuserdatad/UserInterfaceState.xcuserstate
